<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>1) Retailer Affinity:</h2>
    <form action="/affinity" method="Post">
      <select name=brand>
        <option value=''>Brand</option>
        <option value="Monster">Monster</option>
        <option value="Red Bull">Red Bull</option>
        <option value="5 Hour Energy">5 Hour Energy</option>
        <option value="Rockstar">Rockstar</option>
      </select>
      <input type="submit" value="Submit"/>
    </form>
    {% if table %}
      <h2>Percent Sales</h2>
      {{ table|safe }}
    {% endif %}
    {% if affinity %}
        The retailer with the highest affinity is {{affinity}}
    {% endif %}
    <h2>2) Find the the number of Households:</h2>
    <form action="/HHcount" method="Post">
      <select name=brand>
        <option value=''>Brand</option>
        <option value="Monster">Monster</option>
        <option value="Red Bull">Red Bull</option>
        <option value="5 Hour Energy">5 Hour Energy</option>
        <option value="Rockstar">Rockstar</option>
      </select>
      <select name=retailer>
        <option value=''>Retailer</option>
        <option value="CVS">CVS</option>
        <option value="Walmart">Walmart</option>
        <option value="Publix">Publix</option>
        <option value="Costco">Costco</option>
        <option value="Safeway">Safeway</option>
        <option value="Target">Target</option>
        <option value="Walgreens">Walgreens</option>
        <option value="Kroger">Kroger</option>
      </select>
      Start Date: <input name="start_date" type="date" />
      End Date: <input name="end_date" type="date" />
      <input type="submit" value="Submit"/>
    </form>
    <br />
      {% if results %} The number of households for your search is: {{ results }} {% endif %}
    <h2>3) Identify brand with top buying rate ($ spent / HH):</h2>
    The brand with the top buying rate is
      {% if top_brand %}
        {{ top_brand }}!
      {% else %}
        <a href="/TopBuying"><button>Find out!</button></a>
      {% endif %}
  </body>
</html>
